:root {
    /* Colors */
    --cMain: #CABAC8; /* not in use*/
    --cSec: #ffffff;
    --cBack: #000000;
    /* fonts */
    --fTitle: "Julius Sans One", sans-serif;
    --fText: "Smooch Sans", serif;
    --fText2: "Kumbh Sans", serif;
    --fText3: "Cairo", serif;
    /* font sizes  --- not currently used */
    --fsBase: 1rem;
    --fsH1: 5.3rem;
    --fsH2: 1.75rem;
    --fsH3: 1.5rem;
    --fsH4: 1.25rem;
    /* drop shadows */
    --shadow1: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --bgCol1: white;
}


.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24
}
html {
    font-size: 18px !important;
}
body {
    padding: 0; margin: 0; width: 100%; height: 100%;
    background-color: var(--bgCol1);
    font-family: var(--fText);
}

div, input, span, a, h1, h2, h3, textarea, button, select {
    position: relative;
    box-sizing: border-box;
    font: inherit;
    border: none; outline: none;
}
.no-link-style {
    color: inherit; font: inherit; text-decoration: inherit;
}
.coverDiv {
    width: 100vw; height: 100vh; position: fixed; background-color: rgba(0,0,0,0.4); top: 0; left: 0;z-index: 5;
    display: flex; justify-content: center; align-items: center;
}
.flex {display: flex;}
.flex.aCentered {align-items: center;}
.flex.jCentered {justify-content: center;}
.flex.wrap {flex-wrap: wrap;}

#toast {min-width: 250px; max-width: 40%; min-height: 60px; max-height: 120px;
    margin-left: -125px; text-align: center; display: flex; justify-content: center; align-items: center; border-radius: 2px; padding: 16px; position: fixed;
    z-index: 100; right: 30px; top: 30px; transform: translateY(-10px); transition: 1s;
    background-color: white; color: black;
    box-shadow: 3px 6px 3px rgba(0,0,0,0.4);
    font-size: 1em; font-family: var(--fText);
    /* opacity: 0;*/
    visibility: hidden;
}
#toast.visible { transform: translateY(0px); visibility: visible; }


#homePage {
    width: 100%; height: 100%;
}

#homePage > .top {
    width: 100%; height: 50px;
    padding: .25rem;

    display: flex; align-content: center;
    border-bottom: 2px solid black;
}
#homePage > .top > .searchBar {
    display: flex;
    border-right: 2px solid black;
    width: 20%; min-width: 15rem;
}
.searchBar .searchInput {
    width: 100%; height: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;

    border: none; outline: none;
}

.barBody {
    width: 100%;
    display: flex;
    align-items: center;
}
.filterBar {
    display: flex;
    margin-left: 0.5rem;
    align-items: center;
    font-size: 1.75rem;
}
.filterTitle {
    font: inherit;
    margin: 0 1rem 0 0;
}
.filterBar .icon {
    cursor: pointer;
    padding: 1rem;
} .filterBar .icon:hover {color: red;}

.settingsBar { display: flex; align-items: center; gap: 0.5rem; padding-right: 1rem; }
    .settingsBar .icon:hover {cursor: pointer; color: red;}

.addBar {
    display: flex;
    align-items: center; justify-content: right;
    width: 20%; height: 100%;
}
.iconA {
    display: flex; align-items: center; justify-content: center;
    text-decoration: none; color: inherit;
}

/* Filterpopup */
#filterCat.selected {color: orange;}
#filterPopup {
    width: 300px; height: 400px;
    background-color: white; border: 2px solid black; border-top: none;
    position: absolute;
    z-index: 3;
    top: 50px; left: 311px;
    display: flex; flex-direction: column;
    overflow-y: auto;
}
.filterPopupDiv {
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    display: flex;
    background-color: transparent;
} .filterPopupDiv:hover {background-color: #ececec; cursor: pointer;}
.fpName {width: 100%; text-align: left;}
.filterPopupDiv.selected {background-color: #a1c2d0 !important;}


.recipeDiv {
    width: 100%; height: 50px;
    display: flex; align-items: center;
    font-size: 1.5rem; font-family: var(--fText3); font-weight: lighter;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid black;
}
.recipeFav {
    cursor: pointer; font-size: 2rem;
} .favorited {color: red;}
.recipeCat { min-width: 150px; padding: 0 1rem; font-size: 1.25rem; }
.recipeName {
    padding: 1rem; font: inherit;
    color: inherit; text-decoration: none;
    flex-wrap: wrap;
    display: flex; flex-wrap: wrap;
    font-size: 1.25rem;
} .recipeName:hover {text-decoration: black;}

.filterBtn {
    padding: 0; background-color: white;
    margin-right: 1rem;
} .filterBtn .icon {padding: 0; display: flex; align-items: center;}

/* recipe.html */
#recipePage {
    width: 100%; height: 100vh;
    display: flex;
}
#recipePage > .left {
    width: 80%; height: 100%;
    display: flex; flex-direction: column;
    padding: 1rem;
    overflow: auto;
}
.ingredientDiv {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0;
    border: 1px solid black;
    display: flex;
    font-size: 1.5rem;
    font-family: Cairo; font-weight: lighter;
    align-items: center;
    flex-wrap: wrap;
}
.ingredientDiv:has(.ingredientDivHeader){
    flex-direction: column;
    align-items: unset;
}
.ingredientDivHeader {
    font-weight: bold;
}
.ingredientDiv > .ingredientDiv {
    margin-left: 1.5rem; width: calc(100% - 1.5rem);
}
.idAmount, .idSize, .idIngredient {
    margin-right: 1rem;
    min-width: 50px;
}
.idAmount:empty, .idSize:empty, .idIngredient:empty {
    margin-right: 0;
    min-width: 0;
}

.idNumber {font-size: 1rem; margin-right: 1rem;}
.idAmount {text-align: center;}
.idCommentList {
    font-size: 1.2rem; font-style: italic;
    display: flex; flex-wrap: wrap;
    gap: 2rem;
    margin-left: 1rem;
}

.stepDiv {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0;
    border: 2px solid black;
    display: flex;
    font-size: 1.5rem;
    font-family: Cairo; font-weight: lighter;
    align-items: center;
    border-radius: 4px;
}
.rlHeader {
    font-size: 2rem; font-weight: bold;
}


#recipePage > .right {
    width: 25%; min-width: 200px;
    height: 100%;
    border-left: 2px solid black;
    display: flex; flex-direction: column;
    padding: 0.5rem 1rem;
}

.rlTitle {
    font-size: 2.5rem;
    margin: 0;
}
#recipePage .rlBtn, #recipePage .iconA {
    width: fit-content;
    font-size: 1.5rem;
    margin: 0 1rem 0 0; border-radius: 0.2rem;
    padding: 0.5rem 0.75rem;
    background-color: white; border: 1px solid black;
}
.iconA {
    padding: 0.25rem; cursor: pointer;
} .iconA span {font-size: 2rem;}
  .iconA:hover {color: orange;}
.rlFlex {display: flex; align-items: center; margin: 1rem 0;}
.rlLink {
    font-size: 2rem; margin-bottom: 1rem;
} .rlLink:hover {text-decoration: underline;}

#recipePage .exitBtn {
    position: absolute;
    bottom: 1rem; right: 0;
    z-index: 2;
    padding: 0.25rem;
}
/* recipe editor */
#recipeEditor {
     width: 100%; height: 100vh;
     display: flex; flex-direction: column;
 }
 #recipeEditor > .top {
     width: 100%; height: 75px;
     border-bottom: 2px solid black;
     padding: 0.5rem 1rem;
     align-items: center;
     display: flex;
     gap: 2rem;
 }
 #recipeEditor > .top > input {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    width: 50%;
 }
#recipeEditor > .top > select {
    font-size: 1.2rem;
    width: 15%;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
#recipeEditor > .top button {
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem 1rem;
} #recipeEditor > .top button:hover {cursor: pointer; border-color: orange; color: orange;}

#recipeEditor > .bot {
    width: 100%; height: calc(100% - 75px);
    display: flex;
}
.bplusList {display: flex; gap: 1rem; padding-top: 0.5rem;}
.bplusList button {
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem 1rem;
} .bplusList > button:hover {cursor: pointer;}
.reIngredientsDiv,.reStepsDiv {
    width: 50%; height: 100%;
    border-right: 2px solid black;
    padding: 1rem;
    display: flex; flex-direction: column;
    align-items: center;
} .reStepsDiv {border-right: none;}
.reTitle {
    font-size: 2rem; text-align: center;
    margin: 0;
}
.reIngredientsDiv > .list, .reStepsDiv > .list {
    width: 100%;
    display: flex; flex-direction: column;
    overflow: auto;
    flex-flow: wrap;
    padding-right: 1rem;
}
.ingredientDiv.list > button {
    background-color: transparent;
    border-top: 2px solid black;
    margin-top: 0.2rem;
    font-size: 1.3rem;

} .ingredientDiv.list > button:hover {
    cursor: pointer;
      text-decoration: underline;
}

.reStepsDiv .list textarea {
    width: 100%; height: 5rem;
    margin-bottom: 1rem;
    resize: none;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    font-size: 1.25rem;
}

.reIngredientDiv, .reStepDiv {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
}
.reIngredientEditBtn {
    width: 1rem; height: 1rem;
    min-width: 2rem; min-height: 2rem;
    display: flex; align-items: center; justify-content: center;
    background-color: transparent;
    margin-top: 1rem;
    margin-right: 0.5rem;
} .reIngredientEditBtn:hover {cursor: pointer; color: orange;}
.reIngredientUpDown {
    margin-top: 0.5rem;
    display: flex; flex-direction: column;
}
    .reIngredientUpDownBtn {
        background-color: transparent;
        line-height: 0;
    } .reIngredientUpDownBtn:hover {
        cursor: pointer; color: orange;
    }
    .reIngredientUpDownBtn .icon {
        width: fit-content; height: fit-content;
    }
    .reIngredientUpDown > .reIngredientUpDownBtn:first-child {
        margin-bottom: 0.75rem;
    }
.reStepDel {
    background-color: transparent;
    display: flex; align-items: center; justify-content: center;
    margin-top: 1rem;
} .reStepDel:hover {cursor: pointer; color: orange;}

.largePopupDiv {
    width: 720px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    padding: 1rem 4rem;

    display: flex; flex-direction: column;

    overflow: auto;
}
.largePopupDiv.left {
    left: 0;
    border-radius: 0 1rem 1rem 0;
}
.largePopupDiv.right {
    right: 0;
    border-radius: 1rem 0 0 1rem;
}

.lpHeader {
    text-align: center;
    margin: 0;
    font-size: 3.5rem;
    font-weight: lighter;
}
.lpExit {
    text-align: center;
    font-size: 2rem;
} .lpExit:hover {cursor: pointer; text-decoration: underline;}
.lpBody {
    height: 100%;
    overflow: auto;
}

.popupInputElem {
    width: 100%;
    border: 1px solid black;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    padding: 1rem;
}
.popupInputElem input {
    border-bottom: 1px solid black;
    padding: 0.5rem 0.25rem;
    font-size: 1.2rem;
    margin: 0.25rem 0.5rem;
}
.ppieAmount {width: 4rem;}
.ppieSize {width: 10rem;}
.ppieIng {width: calc(100% - 18rem);}

.ppieComs {
    display: flex; flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}
.ppieComs > .top {display: flex; font-size: 1.5rem; align-items: center; gap: 1rem;}
.ppieComs > .list {
    display: flex; flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    width: 100%;
}
.ppieComDiv {
    display: flex; width: 100%;
    align-items: center;
}
.ppieComDiv button {
    color: red;
    border-radius: 2rem;
    padding: 0.5rem;
    min-width: 2rem; min-height: 2rem;
    width: 2rem; height: 2rem;
    display: flex; align-items: center; justify-content: center;
    background-color: transparent; cursor: pointer;
} .ppieComDiv button:hover { border: 1px solid black;}
  .ppieComsBtn:hover {cursor: pointer; color: orange;}
  .ppieComsBtn {background-color: transparent; display: flex; align-items: center; justify-content: center;}
.ppieComDiv input {
    display: flex; width: 100%;
}
.ppiDelete {
    padding: 0.5rem 1rem; font-size: 1.25rem;
    margin: 1rem auto;
    border: 1px solid black;
    background-color: white;
} .ppiDelete:hover {cursor: pointer; text-shadow: 1px 1px rgba(0,0,0,0.2);}

.ppGroupDiv {display: flex; width: 100%; align-items: center;}
.ppGroupName {min-width: fit-content; margin-right: 1rem;}
.ppGroupInput {
    border: 1px solid black;
    padding: 0.25rem 0.75rem;
    width: 100%;
}

.catCats {cursor: pointer;}
    .catCats:hover {color: orange;}
.categoryList {
    max-width: 300px; min-width: 150px;
    width: 30%;
    display: flex; flex-direction: column;
    gap: 0.75rem;
    background-color: white;
    padding: 1rem;
}
.categoryBtn {
    background-color: white;
    font-size: 1.5rem;
    border-radius: 2px;
    text-align: left;
    padding-left: 1rem;
    border-left: 2px solid black;
} .categoryBtn:hover {
    background-color: rgba(255,155,0,0.3);
    cursor: pointer;
}
.categoryList h2 {
    margin: 0 0 0.75rem; line-height: 0;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}










.confirmDiv {
    width: 400px; padding: 2rem 1rem;
    background-color: white;
    border: 2px solid black; border-radius: 4px;
    display: flex; flex-direction: column;
    align-items: center;
}
    .confirmTitle {
        font-size: 1.4rem;
        font-weight: bolder;
    }
    .confirmDesc {
        font-size: 1.2rem; margin: 0.5rem 0 1rem;
        text-align: center;
    }
    .confirmBtnDiv {
        display: flex; width: 100%;
        gap: 3rem;
        justify-content: center;
    }
    .confirmBtn {
        font-size: 1.25rem;
        background-color: transparent;
        border: 1px solid black;
    } .confirmBtn:hover {cursor: pointer; text-decoration: underline;}
    .confirmBtn.yes:hover {color: green;}
    .confirmBtn.no:hover {color: red;}










#settingsDiv {
    width: 75%; height: 75%;
    background-color: white;
    padding: 1rem;
}
.settingsTitle {
    font-size: 1.75rem;
    line-height: 1;
    margin: 0;
    font-weight: bolder;
}
.settingsHeader {font-size: 1.5rem; }
.SaveLoadDiv {
    width: 100%;
    display: flex; align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}
.settingsButton {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    gap: 1rem;
    background-color: white; border: 1px solid black;
} .settingsButton:hover, .settingsButton input {cursor: pointer; }
.settingsButton input {background-color: transparent;}
.mainDownloadBnt {display: none;}








@media print {
    #recipePage {flex-direction: column-reverse; height: unset;}
    #recipePage > .right {
        width: 100%; height: 1rem;
        overflow: unset;
        border: none;
        background-color: #efefef;
    }
        #recipePage > .right .rlFlex {display: none;}
        #recipePage > .right .rlLink {display: none;}
        #recipePage > .right .exitBtn {display: none;}

    #recipePage > .left {
        width: 100%;
        height: unset;
        overflow: unset;
    }
}

@media only screen and (max-width: 900px) {
    #homePage > .top {
        overflow: auto;
    }
    #homePage > .top .filterTitle {
        display: none;
    }
    #barBody {
        overflow-x: auto;
    }
    #homePage > .top > .searchBar {
        width: 10rem; min-width: unset;
    }
    .searchBar .searchInput {
        width: 100%
    }

    .recipeDiv {
        padding: 1rem 0.25rem;
    }
    .recipeFav {
        font-size: 1.5rem;
    }
    .recipeCat {
        font-size: 0.8rem;
        min-width: 5rem;
        max-width: 10rem;
        overflow-x: auto;
    }
    .recipeName {
        font-size: 0.95rem;
        overflow-x: auto;
        padding: 0;
        flex-wrap: nowrap;
    }


    #recipePage {
        flex-direction: column-reverse;
    }
    #recipePage > div {
        width: 100% !important;
        height: fit-content !important;
    }
    .rlTitle {width: 100%;}
    #recipePage > .right {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: end;
        border-left: none;
        border-bottom: 2px solid black;
    }
    #recipePage > .right > .rlLink {
        margin-right: 2rem; justify-content: right;
        font-size: 1.25rem;
    }
    #recipePage > .right .iconA span, .rlBtn {
        padding: 0.15rem;
        font-size: 0.8rem !important;
    }
    .rlBtn { padding: 0.5rem !important; font-size: 0.8rem !important;}
    .ingredientDiv, .stepDiv {
        font-size: 1.3rem;
    } #recipeEditor .ingredientDiv, .stepDiv {
          font-size: 1rem !important;
      }

    #recipePage .exitBtn {bottom: unset; top: 1rem;}
}
